<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzp.mybatis.mapper.TestShopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yzp.mybatis.entity.TestShop">
        <id column="shop_id" property="shopId" />
        <result column="shop_name" property="shopName" />
        <result column="stock" property="stock" />
    </resultMap>

</mapper>
