<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzp.mybatis.mapper.OrderClothesOperateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yzp.mybatis.entity.OrderClothesOperate">
        <id column="operate_id" property="operateId" />
        <result column="clothes_num" property="clothesNum" />
        <result column="operate_status" property="operateStatus" />
        <result column="operate_time" property="operateTime" />
    </resultMap>

</mapper>
