<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzp.mybatis.mapper.OrderClothesRewashMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yzp.mybatis.entity.OrderClothesRewash">
        <id column="rewash_id" property="rewashId" />
        <result column="clothes_num" property="clothesNum" />
        <result column="rewash_reason" property="rewashReason" />
        <result column="created_time" property="createdTime" />
    </resultMap>

</mapper>
